:root {
    --background: #3D3951;
    --alt-background: #4E4A6E;
    --color: white;
    --alt-color: #AAA;
    --a-color: #ff0059;
    --alt-a-color: #c80046;
    --stroke-a-color: #c80046;
}
body {
    background: var(--background);
    color: var(--color);
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: "Kreon", serif;
    font-optical-sizing: auto;
    font-style: normal;
    transition: background .3s ease;
    overflow: hidden;
}
body.light {
    --background: white;
    --alt-background: #e9e9e9;
    --color: black;
    --alt-color: #555;
    background: var(--background);
}
i {
    color: var(--alt-color);
}
a {
    text-decoration: none;
    color: var(--a-color);
    transition: color .5s ease, text-decoration .5s ease;
}
a:hover {
    text-decoration: underline;
    color: var(--alt-a-color);
}
header.navbar {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--alt-background);
    box-shadow: 0 0 .5rem 0 #00000075;
}
header.navbar .sidenavOpener {
    display: none;
}
header.navbar img {
    height: 100%;
}
header a {
    display: flex;
    width: 8.5rem;
    height: 50%;
    font-size: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    text-decoration: none !important;
    color: var(--color) !important;
    -webkit-text-stroke: 1px #00000075 !important;
    padding: .5rem;
    border-radius: 1rem;
    transition: background .5s ease;
}
header > button {
    display: flex;
    width: 2rem;
    height: 50%;
    font-size: 100%;
    justify-content: space-between;
    margin: 1rem;
    background: transparent;
    border: transparent;
}
.toggleTheme {
    cursor: pointer;
    transition: background .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
.toggleTheme:hover, header a:hover {
    background: #0000002F;
}
.toggleTheme > span.material-symbols-outlined {
    color: var(--color);
}
body > div {
    display: flex;
    height: calc(100% - 4rem);
    width: 100%;
}
.sidenav {
    height: 100%;
    width: 20rem;
    background: var(--alt-background);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid #0000000A;
    z-index: 99;
    overflow: hidden auto;
}
.sidenav > li {
    width: 90%;
    margin: 0;
    list-style-type: none;
}
.sidenav > li > p:hover, .sidenav a:hover {
    background: #0000005F;
    color: var(--a-color);
    border-radius: .5rem;
}
.sidenav > li.active > ul > li.active a {
    background: #00000075;
    color: white;
    border-radius: .5rem;
}
.sidenav a {
    padding: 1rem .5rem;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0;
    color: var(--color);
    -webkit-text-stroke: 0;
    text-decoration: none !important;
}
.sidenav > li > p {
    width: calc(100% - .5rem);
    margin: 1rem 0 0 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem .5rem;
    border-radius: .5rem;
}
.sidenav > li > p::after {
    content: ">";
}
.sidenav > li.active > p::after {
    content: "⌵";
}
.sidenav > a {
    width: calc(90% - .5rem);
}
.sidenav > a::after {
    content: "↗";
}
.sidenav > li > ul {
    display: none;
    list-style-type: none;
    transition: opacity .5s ease;
}
.sidenav > li.active > ul {
    display: block;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden auto;
}
main > div {
    height: 100%;
    width: 90%;
}
pre:not(.small) {
    background: black;
    color: white;
    overflow: scroll hidden;
    width: 100%;
    padding: .5rem;
}
pre.small {
    background: black;
    color: white;
    overflow: scroll hidden;
    width: fit-content;
    padding: .5rem;
}
a.nav {
    border: var(--alt-background) solid 2px;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: var(--color);
    transition: border .25s ease;
    text-decoration: none;
    margin: 5rem .5rem;
}
a.nav:hover {
    border: var(--a-color) solid 2px;
}
::-webkit-scrollbar {
    width: 1vh;
    height: 1vh;
    background: #333;
    cursor: pointer;
}
/* Track */
::-webkit-scrollbar-track { /* La scroll bar */
    background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb { /* La scroll bar */
    background: var(--color);
    border-radius: 5vh;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover { /* La scroll bar */
    background: var(--alt-color);
}
.note, .warning { /* CSS Pour les notes */
    background: var(--alt-background);
    padding: 1rem;
    margin: 1rem 0;
}
.note::before, .warning::before { /* L'icon lampe des notes */
    content: "";
    display: inline-flex;
    height: 1rem;
    width: 1rem;
    position: relative;
    bottom: 50%;
}
body.light .note::before, body.light .warning::before {
    filter: invert();
}
.note::before {
    background: url(/cdn/img/icon/light-bulb.png) no-repeat center/cover;
}
.note {
    border-left: 0.3rem solid green;
}
.warning::before { /* L'icon des warns */
    background: url(/cdn/img/icon/warning.png) no-repeat center/cover;
}
.warning { /* CSS Pour les warns */
    border-left: 0.3rem solid red;
}

@media screen and (max-width: 1195px) { /* Pour les téléphones */
    .sidenav {
        position: absolute;
        left: -100%;
        overflow-x: hidden;
        transition: left .5s ease;
    }
    .sidenav.active {
        left: 0;
    }
    header.navbar {
        justify-content: space-between;
    }
    header.navbar .sidenavOpener {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 2rem;
        height: 50%;
        border-radius: .25rem;
        overflow: hidden;
        margin: 0 0 0 1rem;
        cursor: pointer;
    }
    header.navbar .sidenavOpener span {
        width: 100%;
        height: 15%;
        background: var(--color);
    }
    p {
        width: auto;
    }
}