.fade-up {
    transform: translateY(25%);
    opacity: 0;
    transition: all 0.5s ease;
}
.fade-up.active, .fade-up:nth-child(1) {
    transform: translateY(0);
    opacity: 1;
}
.fade-down {
    transform: translateY(-25%);
    opacity: 0;
    transition: all 0.5s ease;
}
.fade-down.active {
    transform: translateY(0);
    opacity: 1;
}