body {
    padding: 0;
    background: #333;
    color: white;
    width: auto;
    min-width: 100%;
    margin: 0;
    overflow-x: hidden;
}
section {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000075;
}
section.pres img {
    height: auto;
    max-height: 40%;
    width: auto;
    max-width: 40%;
    border-radius: 100%;
    border: 2px solid #FFFFFF75;
}
section:nth-child(even) {
    background: #00000085;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a#add, a#manage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    background: #00000075;
    height: auto;
    width: auto;
    padding: 1%;
    min-width: auto;
    transition: all 0.5s ease;
}
a#add::before {
    content: "";
    height: 25%;
    width: 25%;
    min-width: 25px;
    min-height: 25px;
    background: url(/cdn/img/discord.svg) center/70% no-repeat;
    transform: rotateY(0);
    transition: all 0.5s ease;
}
a#add::after {
    content: "Add bot";
    text-align: center;
    width: 45%;
    min-width: 60px;
    transition: all 0.5s ease;
}
a#add:hover, a#manage:hover {
    background: #000000;
    border-radius: 10px;
    margin: 0;
    height: calc(auto - 5px);
    width: calc(auto + 1%);
}
a#add:hover::before, a#manage:hover::before {
    height: calc(25% + 5px);
    transform: rotateY(360deg);
}
a#add:hover::after, a#manage:hover::after {
    height: calc(auto + 5px);
}

a#manage::before {
    content: "";
    height: 25%;
    width: 25%;
    min-width: 25px;
    min-height: 25px;
    background: url(/cdn/img/manage.png) center/70% no-repeat;
    transform: rotateY(0);
    transition: all 0.5s ease;
}
a#manage::after {
    content: "Manage Servers";
    text-align: center;
    width: 45%;
    min-width: 120px;
    transition: all 0.5s ease;
}

section.space img, section.space canvas, section.space a {
    width: 45%;
    height: auto;
    max-height: 85%;
}
section.space a > canvas {
    width: 100%;
    height: auto;
    max-height: 100%;
}
section.space h3 {
    height: auto;
    width: auto;
    max-height: 35%;
    max-width: 45%;
    text-align: center;
}
.column {
    display: flex;
    flex-direction: column;
}
.space {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > h5 {
    display: flex;
    flex-direction: row;
    height: auto;
    max-width: 45%;
}
footer > h5 > a {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 5px;
}
a.icon {
    position: relative;
}
a.icon::before {
    content: "";
    position: relative;
    top: 0;
    right: 2px;
    display: inline-flex;
    width: 2vh;
    height: 2vh;
}
a#nodejs::before {
    background: url(https://nodejs.org/static/images/favicons/favicon.png) center/cover no-repeat;
}
a#discordjs::before {
    background: url(https://discord.js.org/favicon-32x32.png) center/cover no-repeat;
}
a#firebase::before {
    background: url(https://firebase.google.com/_static/firebase/images/icon.svg) center/cover no-repeat;
}
a#bot-hosting::before {
    background: url(https://bot-hosting.net/assets/img/bothosting2.png) center/cover no-repeat;
}
a#github::before {
    background: url(https://github.githubassets.com/favicons/favicon-dark.png) center/cover no-repeat;
}
/* A mettre dans un truc qui ne prend en compte que les petits écran pour ne 
pas bloquer le aria-label
footer {
    overflow: scroll;
}

*/